[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[packages]
click = "*"
aiohttp = "*"
gera2ld-pyserve = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "python -m aioproxy.cli"
